<!-- To build a project with routing, we could use the CLI with an additional option: ng new sample-app --routing which will build the additional files for us (otherwise we would make them ourselves).

Meet the <router-outlet></router-outlet> html tag
To add routing we first create the new components we want (use ng g c component_name). Then we place the Angular specific HTML tag <router-outlet></router-outlet> within our template. Within this tag, the appropriate new component will load based on the Angular route.

Notice that, unlike when we generate a service, when we generate a component, our component is automatically registered with our application! Look at app.module.ts to see how it was changed. This is a shortcut the CLI gives us. If you choose not to use the CLI in the future, you would have to do this manually.

Lastly, we need to define our rules and import them in our App through the AppModules file. Pay close attention to the patterns we've used for the routing links, the [routerLink] attribute has a unique patterned value, double quotes, then an array, and within the array each part of the url: -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Headland+One&display=swap" rel="stylesheet">

  <title>Authors</title>
</head>
<body>
  <div id="container">
    <h1>Favorite Authors</h1>
    <router-outlet></router-outlet>
  </div>
</body>
</html>
